<app-edit-category [type] = 'incomeInput' ></app-edit-category>


<div class="container">
    <div class="income-categories__loading spinner-border" style="width: 6rem; height: 6rem;" role="status" *ngIf="isIncomeCategoryLoading"></div>
    <p *ngIf="isIncomeCategoryLoading">Loading ...</p>
    <p *ngIf="incomeCategory.length < 1 && isIncomeCategoryLoading">No category available!</p>
    <div class="income-categories" *ngIf="incomeCategory.length >=1 && !isIncomeCategoryLoading">
        <h1>Income Categories</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cat of incomeCategory;let i= index">
                <th scope="row">{{i+1}}</th>
                <td>{{cat.name}}</td>
                <td>{{cat.type}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <app-edit-category [type] = 'expenseInput'></app-edit-category>
    <div class="income-categories__loading spinner-border" style="width: 6rem; height: 6rem;" role="status" *ngIf="isExpenseCategoryLoading"></div>
    <p *ngIf="isExpenseCategoryLoading">Loading ...</p>
    <p *ngIf="expenseCategory.length < 1 && isExpenseCategoryLoading">No category available!</p>
    <div class="income-categories" *ngIf="expenseCategory.length >=1 && !isExpenseCategoryLoading">
    <div class="expense-categories">
        <h1>Expense Categories</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cat of expenseCategory; let i= index">
                <th scope="row">{{i+1}}</th>
                <td>{{cat.name}}</td>
                <td>{{cat.type}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!--<router-outlet></router-outlet>-->
{{expenseCategory | json}}
