
<div class="container">

    <h2 class="income_title">Income Categories</h2>
    <div class="component__wrapper">
    <app-edit-category [type] = 'incomeInput' ></app-edit-category>
    </div>
    <div class="income-categories__loading spinner-border" style="width: 6rem; height: 6rem;" role="status" *ngIf="isIncomeCategoryLoading"></div>
    <p *ngIf="isIncomeCategoryLoading">Loading ...</p>
    <div class="income-categories" *ngIf="incomeCategory.length >=1 && !isIncomeCategoryLoading">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p *ngIf="incomeCategory.length<1">No posts available!</p>
                <table class="table">
                    <tbody *ngIf="incomeCategory.length>=1">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Category Name</th>

                    </tr>
                    <tr *ngFor="let cat of incomeCategory;let i= index">
                        <td> {{i+1}}</td>
                        <td>{{cat.name}}</td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <hr>
    <h2 class="expense_title">Expense Categories</h2>
    <div class="income-categories__loading spinner-border" style="width: 6rem; height: 6rem;" role="status" *ngIf="isExpenseCategoryLoading"></div>
    <div class="component__wrapper">
    <app-edit-category [type] = 'expenseInput'></app-edit-category>
    </div>
    <p *ngIf="isExpenseCategoryLoading">Loading ...</p>

    <div class="income-categories" *ngIf="expenseCategory.length >=1 && !isExpenseCategoryLoading">
    <div class="expense-categories">

        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p *ngIf="expenseCategory.length<1">No posts available!</p>
                <table class="table">
                    <tbody *ngIf="expenseCategory.length>=1">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Category Name</th>

                    </tr>
                    <tr *ngFor="let cat of expenseCategory;let i= index">
                        <td> {{i+1}}</td>
                        <td>{{cat.name}}</td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!--<router-outlet></router-outlet>-->
<!--{{expenseCategory | json}}-->
