<div class="">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid ms-3">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="loggedin">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
                                   aria-current="page" routerLink="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" routerLink="/history">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" routerLink="/income">Income</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" routerLink="/expenses">Expenses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" routerLink="/categories">Categories</a>
                            </li>

                        </ul>
                    </div>
                    <div class="navbar__right" *ngIf="loggedin">
                        <div class="row">
                            <div class="col-sm">
                                <p> Welcome, {{userName}}</p>
                            </div>
                            <div class="col-sm">
                                <app-logout></app-logout>
                            </div>



                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
