<div class="container">
    <div class="row">
        <h2> Expense Management </h2>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <!-- <form #incomeForm="ngForm" (ngSubmit)="onCreateExpense(incomeForm.value)"> -->
            <form [formGroup]=expenseForm (ngSubmit)="onCreateExpense()">
                <div class="form-group">
                    <label for="date">Expense Date</label>
                    <input type="date" class="form-control" id="date" formControlName="date" />
                    <span *ngIf="!expenseForm.get('date')!.valid && expenseForm.get('date')!.touched" style="color: crimson;">
                          Date is Mandatory
                    </span>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <!-- <input type="text" class="form-control" id="category" required formControlName="category" /> -->
                    <select class="form-control" formControlName="category">
                        <option value="">Click Here to Select Expense Category</option>
                        <option *ngFor="let categories of categoryList">
                            {{ categories.name }}
                          </option>
                    </select>
                    <span *ngIf="!expenseForm.get('category')!.valid && expenseForm.get('category')!.touched" style="color: crimson;">
                        Cats is Mandatory
                  </span>
                </div>
                <div class="form-group">
                    <label for="category">Expense Amount</label>
                    <input type="text" class="form-control" id="amount" formControlName="amount" />
                    <span *ngIf="!expenseForm.get('amount')!.valid && expenseForm.get('amount')!.touched" style="color: crimson;">
                        Amount value is Mandatory
                    </span>
                </div>
                <div class="form-group">
                    <label for="category">Description</label>
                    <textarea class="form-control" id="description" formControlName="description"></textarea>
                    <span *ngIf="!expenseForm.get('description')!.valid && expenseForm.get('description')!.touched" style="color: crimson;">
                        Description is Mandatory
                    </span>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">
                    Add Expense
                </button>&nbsp;
                <button class="btn btn-primary" (click)="onBack()">
                    Back
                </button>
                <!-- </form> -->
            </form>
        </div>
    </div>
</div>